.body_background {
    background-image: url("https://i.postimg.cc/2y02f4Mj/avenger-bg.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  h2 { border-radius: 10px;
     width: 200px;
      padding: 5px;
     } 
     h3 
     { display: inline-block;
     }
      span 
      { color: black;
     } 
     a
      { text-decoration: none;
         font-size: 20px;
          padding: 10px; 
          float: left;
           border-radius: 10px;
        }
         #head_info { width: 600px;
             border-radius: 10px;
              margin-bottom: 10px;
             }

  